@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$family-sans-serif: "Open sans", sans-serif;
$blue: #18B1FF;
$link: $blue;
$black: #000;
$navbar-item-img-max-height: 40px;
$primary: $blue;

@import "../../node_modules/bulma/bulma.sass";
